<div class="container">
  <section class="first-page">
    <div class="navbar">
      <div class="title">20 Questions</div>
      <div class="right-side">
        <div>About</div>
        <fa-icon
          [icon]="faLinkedin"
          (click)="
            goToLink(
              'https://www.linkedin.com/in/karen-roberts-chfc-cdfa-a91629b'
            )
          "
        ></fa-icon>
        <fa-icon
          [icon]="faAmazon"
          (click)="
            goToLink(
              'https://www.amazon.com/20-Questions-What-Dont-Matters/dp/1952884365'
            )
          "
        ></fa-icon>
      </div>
    </div>
    <div class="cta">
      <h1 class="title">Well-behaved women seldom make history</h1>
      <button class="learn-more" (click)="scrollToElement(secondPage)">
        LEARN MORE
      </button>
    </div>
    <!-- <img src="../assets/karen-roberts.jpg" class="headshot" /> -->
  </section>
  <section class="second-page" #secondPage>
    <img
      src="../assets/book.jpg"
      (click)="
        goToLink(
          'https://www.amazon.com/20-Questions-What-Dont-Matters/dp/1952884365'
        )
      "
      class="book-front"
    />
    <img
      src="../assets/book-back.jpg"
      (click)="
        goToLink(
          'https://www.amazon.com/20-Questions-What-Dont-Matters/dp/1952884365'
        )
      "
      class="book-back"
    />
  </section>
  <section class="third-page">
    <h1>Book Reviews</h1>
    <div class="testimonial-container">
      <div class="fas fa-quote-left fa-quote"></div>
      <div class="fas fa-quote-right fa-quote"></div>
      <p class="testimonial">
        Wow, I was highlighting from page one; when I read through the first 10
        questions I couldn't imagine it getting better or more real... then I
        read question 12, and 13 .... 18 and question 19... O.M. Goodness, that
        is a great question!! Karen Roberts unveils profound truths. These 20
        questions and the curiosity they inspire are the beginnings of true,
        honest self-awareness and love.
      </p>
      <div class="user">
        <div class="user-details">
          <h4 class="username">Cindy D. Baker</h4>
        </div>
      </div>
    </div>
  </section>
  <section class="fourth-page">
    <h1>Speaking Engagements TBD</h1>
  </section>
</div>
