<div class="container">
  <section class="first-page">
    <div class="navbar">
      <div class="title">20 Questions</div>
      <div class="right-side">
        <div>About</div>
        <fa-icon
          [icon]="faLinkedin"
          (click)="
            goToLink(
              'https://www.linkedin.com/in/karen-roberts-chfc-cdfa-a91629b'
            )
          "
        ></fa-icon>
        <fa-icon
          [icon]="faAmazon"
          (click)="
            goToLink(
              'https://www.amazon.com/20-Questions-What-Dont-Matters/dp/1952884365'
            )
          "
        ></fa-icon>
      </div>
    </div>
    <div class="cta">
      <h1 class="title">Well-behaved women seldom make history</h1>
      <button class="learn-more">LEARN MORE</button>
    </div>
    <!-- <img src="../assets/book.jpg" class="book" />
    <img src="../assets/karen-roberts.jpg" class="headshot" /> -->
  </section>
  <section class="second-page"></section>
</div>
