h2 {
  font-size: 3rem;
}

.page-1 {
  color: #ffffff;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(246, 97, 122, 1) 0%,
    rgba(198, 226, 66, 1) 100%
  );
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-link {
  font-size: 1.5rem;
  cursor: pointer;
}

.quote-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4em;
}

.quote {
  width: 500px;
  font-size: 4rem;
}

iframe {
  width: 550px;
  height: 100%;
}
.video {
  align-self: center;
  width: 550px;
  height: 350px;
}
@media (max-width: 1200px) {
  .nav-link {
    display: none;
  }
}

.book-karen {
  text-align: center;
  width: 100%;
}

button {
  margin-top: 1em;
  background-color: rgba(198, 226, 66, 1);
  color: black;
  border: none;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  cursor: pointer;
}
